<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  
    <connectionStrings>
		<add name="conn" connectionString="Server=f9d06b31-2d8c-441e-b012-a70000bd23b1.sqlserver.sequelizer.com;Database=dbf9d06b312d8c441eb012a70000bd23b1;User ID=khweakzjalbllmej;Password=RSUfoQf6A5bhsnsWqMXDbdptwTfUZazp3U2SCbHQk5QfxWcVhojXMNtMCzQBKtfA;" />
	</connectionStrings>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
